# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/BaseMetals-1.10.2-2.5.0-beta1-sources.jar
libs/BaseMetals-1.10.2-2.5.0-beta1.jar
